In [1]:
import pandas as pd

## Merge Dataframes 
Wir erstellen zwei DataFrames einer enthält DOIs und den Namen des Journals der andere DOIs und den first author.

Manche DOIs befinden sich in beiden Dataframes, andere nur in Einem. 

Wir möchten die Dataframes anhand der DOIs zusammenführen.

In [2]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [3]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0         Chen

In [4]:
doi_df_journal

                              DOI             journal
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol
1             10.21105/joss.01035                JOSS
2  10.12688/f1000research.18866.2            F1000Res
3      10.1038/s41598-019-52881-4             Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics

###  Left-Merge
Es werden alle DOIs aufgeführt, die sich im linken bzw. erstgeschriebenen Dataframe befinden. 

Falls der rechte bzw. zweite Dataframe die DOI des linken nicht besitzt wird in den Spalten des rechten "NaN" statt eines Wertes eingefügt.

In [5]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="left")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

###  Aufgabe

Führe einen "right", "inner" und einen "outer" Merge durch und schaue Dir die Ergebnisse dieser an.

In [6]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="right")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3      10.1038/s41598-019-52881-4          NaN             Sci Rep
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [7]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="inner")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

In [8]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="outer")

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
5      10.1038/s41598-019-52881-4          NaN             Sci Rep